#map {
    margin: 0;
    height: 600px;
    width: 100%;
}

.marker-cluster span {
    color: black;
}

input#intelLink, textarea#intelLinkList {
    background-color: black;
    color: lime;
    font-family: monospace;
    border: 0;
}

ul#sortable li {
    background: black;
    color: lime;
    border: 1px solid #333;
    cursor: row-resize;
}
